NEXT_PUBLIC_SITE_URL=https://evoboxvl.ru
LEAD_RECEIVER_EMAIL=vl@worldcashbox.ru

SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_USER=vl@worldcashbox.ru
SMTP_PASS=MkPvvnW2KLQiZjGENGti
SMTP_FROM=vl@worldcashbox.ru

SBIS_ENABLED=false

SBIS_JSONRPC=true
SBIS_SERVICE_URL=https://online.sbis.ru/service/

SBIS_ACCESS_TOKEN=

SBIS_AUTH_URL=https://online.sbis.ru/auth/service/
SBIS_LOGIN=tenditnika
SBIS_PASSWORD=Tenditnik1!

SBIS_CRM_REGLEMENT_ID=12345

